@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Address: Oslo, Norway<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jawid93.mohammadi@yahoo.no">jawid93.mohammadi@yahoo.no</a><br />
    <strong>GitHub Link:</strong> <a href="https://github.com/JawidM">https://github.com/JawidM</a>
</address>